$bar-width: 20%;

.layout {
  @apply relative;

  > div:first-child,
  > div:last-child {
    @apply absolute top-0 bottom-0;
    width: $bar-width;
    max-width: 350px;
  }

  > div:first-child {
    @apply left-0 border-r border-r-gray-800;
  }

  > div:last-child {
    @apply right-0 border-l border-l-gray-800;

    @media screen and (max-width: 1299px) {
      width: 25%;
    }
  }

  .center {
    @apply min-h-screen ms:p-layout p-[2%];
    margin: 0 $bar-width;

    @media screen and (max-width: 1299px) {
      margin: 0 25% 0 20%;
    }
  }
}
