.menu {
  @apply pb-8 animate-fade;

  .heading {
    @apply text-gray-500 uppercase text-sm font-semibold px-4 ms:px-layout;
  }

  ul {
    > li {
      @apply px-2 ms:px-8 border-r-4 border-r-transparent transition-colors;

      > a {
        @apply flex items-center text-gray-600 px-3 mt-6 cursor-pointer;

        > span {
          @apply ml-3 text-lg hover:text-white;

          @media screen and (max-width: 1024px) {
            @apply text-sm;
          }

          @media screen and (max-width: 864px) {
            @apply text-lg;
          }
        }

        > svg {
          @apply text-2lg;
        }

        > span,
        > svg {
          @apply transition-colors;
        }
      }

      &.active {
        @apply border-r-primary;

        > a > span {
          @apply text-white;
        }

        > a > svg {
          @apply fill-primary;
        }
      }
    }
  }
}
